<!DOCTYPE html>
<html>
<head>
	<title>Messages</title>
	<script src="/static/js/magic.js"></script>
	<script src="//code.jquery.com/jquery-1.8.2.js"></script>
</head>
<body>
<h1>{{meeting.name}}</h1>
<ul>
	{% for message in messages %}
		<li>
			<h1>{{message.title}}</h1>
			<p>{{message.message}}</p>
			<p>{{message.done}}</p>
		</li>
	{% endfor %}
</ul>
<form>
		<input id="title" type="text" placeholder="titulo">
		<textarea id="message" type="text" placeholder="mensaje" rows="5"></textarea>
		<select id="priority">
            <option value="1">Baja</option>
            <option value="2">Normal</option>
            <option value="3">Alta</option>
        </select>
        <input type="hidden" id="meeting" value="{{meeting.pk}}">
		<button onclick="AddMessage()">Enviar mensaje</button>
	</form>
</body>
</html>