<!DOCTYPE html>
<html>
<head>
	<title>List VIew</title>
</head>
<body>
{% for meeting in meetings %}
	<h1>{{meeting.name}}</h1>
	<a href="{% url "meeting_detail" meeting.pk %}">Detalle</a>
{% endfor %}
</body>
</html>