<!DOCTYPE html>
<html>
<head>
	<title>Messages</title>
</head>
<body>
	<ul>
	{% for message in messages %}
		<li>
			<h1>{{message.title}}</h1>
			<p>{{message.message}}</p>
			<p>{{message.priority}}</p>
			<p>{{message.done}}</p>
			<p>{{message.created}}</p>
		</li>
	{% endfor %}
	</ul>
	<form>{% csrf_token %}
		<input id="title" type="text" placeholder="titulo">
		<textarea id="message" type="text" placeholder="mensaje" rows="5"></textarea>
		<select id="priority">
            <option value="1">Baja</option>
            <option value="2">Normal</option>
            <option value="3">Alta</option>
        </select>
        {{ form.meeting }}
		<a onclick="AddMessage()">Enviar mensaje</a>
	</form>
	<script src="/static/js/magic.js"></script>
	<script src="//code.jquery.com/jquery-1.8.2.js"></script>
</body>
</html>